* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .intro, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links a{
    text-decoration: none;
}

.header-links a, .intro-desc p{
    color: #E5E7EB;
}

.intro-desc h1 {
    font-size: 48px;
    font-weight: 900;
}

.header, .intro {
    display: flex;
    padding: 16px 100px 60px 100px;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 20px;
}

.intro {
    gap: 40px;
    align-items: flex-start;
    padding-bottom: 100px;
}
.intro-desc button{
    padding: 4px 20px;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.intro > img {
    width: 350px;
}