* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.top-page, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links a{
    text-decoration: none;
}

.header-links a, .intro-desc p{
    color: #E5E7EB;
}

.intro-desc h1 {
    font-size: 48px;
    font-weight: 900;
}

.header, .intro {
    display: flex;
    min-width: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 60px;
    /* padding: 16px 100px 60px 100px; */
}

.header {
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 20px;
}

.intro {
    gap: 40px;
    align-items: flex-start;
    padding-bottom: 100px;
    justify-content: space-between;
}
.intro-desc button{
    padding: 4px 20px;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.intro > img {
    width: 350px;
}

.info-head {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 30px;
}
.info {
    color: #1F2937;
    margin-bottom: 100px;
}
.image > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.image {
    max-width: 200px;
    text-align: center;
}
.info-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.quote-wrapper {
    background-color: #E5E7EB;
}
.quote {
    padding: 50px 200px;
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    min-width: 1200px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.quote > strong {
    display: flex;
    justify-content: flex-end;
}